.theme-dark {
  --background-color: #18181b;
  --text-color: #e4e4e7;
  --unfocused-text-color: #797979;
}

.theme-light {
  --background-color: #e4e4e7;
  --text-color: #18181b;
  --unfocused-text-color: #535353;
}
